.cart {
  width: 100%;
}

.buttonWrapper,
.dateForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonWrapper {
  margin-top: 10px;
}

.cartItemsContainer {
  height: calc(100vh - 280px);
  width: 100%;
}

.cartItemsShadow {
  box-sizing: border-box;
  height: calc(100vh - 278px);
  top: 245px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px 8px 0 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cartItemsShadow::-webkit-scrollbar {
  display: none;
}

.cartItemsShadowSetter,
.cartItemsContainerSetter {
  height: calc(100vh - 330px);
}

.buttonWrapper {
  margin-bottom: 10px;
}

@media screen and (min-width: 461px) {
  .dateForm,
  .buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttonWrapper {
    margin-top: 0;
  }

  .cartItemsContainer,
  .cartItemsShadow,
  .cartItemsShadowSetter,
  .cartItemsContainerSetter {
    height: calc(100vh - 270px);
  }
}

@media screen and (min-width: 769px) {
  .cartItemsContainer,
  .cartItemsShadow,
  .cartItemsShadowSetter,
  .cartItemsContainerSetter {
    height: calc(100vh - 235px);
  }
}
