.inputcontainer {
  margin-bottom: 42px;
}

.dateContainer {
  margin-bottom: 0;
}

.smallmargin {
  margin-bottom: 10px;
}

.inputerror {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #e6473d;
  margin: 10px 0;
}

.label,
.dateLabel {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #707070;
  margin-bottom: 2px;
  margin-top: 0;
  position: relative;
}

.dateLabel {
  min-width: 120px;
  margin: 0 14px 0 0;
}

.labelunset,
.dateLabelunset {
  position: absolute;
  right: -10px;
  bottom: -5px;
  color: #e6473d;
  font-size: 22px;
  line-height: 22px;
}

.dateLabelunset {
  right: -5px;
}

.input,
.dateInput {
  height: 42px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  color: #333333;
  width: 100%;
  background-color: transparent;
}

.dateInput {
  width: unset;
}

.dateWrapper {
  display: flex;
  align-items: center;
}
