.container {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 0 4px 10px 4px;
  padding: 10px 24px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 24px;
}

.data {
  display: block;
  width: 100%;
}

.name,
.reply {
  margin: 0 0 10px 0;
  font-size: 24px;
  line-height: 26px;
  font-family: sans-serif;
  color: #333;
  opacity: 0.8;
  letter-spacing: 0.5px;
  width: 100%;
}

.reply {
  font-size: 14px;
  line-height: 16px;
}
