.container {
  padding: 24px;
}

.modalText {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #333;
  opacity: 0.8;
  margin: 0 0 24px 0;
  text-transform: uppercase;
}

.title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #333;
  opacity: 0.8;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 24px;
  display: inline-block;
}

.priceImg {
  display: flex;
}

.productImg {
  width: 50%;
  margin: 0 24px 24px 0;
}

.price,
.category,
.reference,
.count,
.description,
.about {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  color: rgb(75, 176, 161);
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.category,
.reference,
.count,
.description,
.about {
  color: black;
}

.count {
  margin-right: 12px;
}

.about {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.description {
  text-transform: none;
}

.ratings {
  display: flex;
  align-items: baseline;
}
