.btnWrapper,
.btnWrapper:focus {
  background: #333333;
  height: 50px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 0 16px;
  display: inline;
  color: #fff;
}

.btnWrapper:hover {
  border: 1px solid;
  cursor: pointer;
  padding: 0 15px;
  color: #333;
  background: #fff;
  border: 1px solid #333;
}

.productBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.productBtn,
.productBtn:focus {
  background: #ffffff;
  border: transparent;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: space-around;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  height: 60px;
}

.productBtn:hover {
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 23px;
}

.underlined,
.underlined:focus {
  background: transparent;
  height: 50px;
  color: #333;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 2px solid #333;
  display: inline;
  opacity: 0.8;
}

.underlined:hover {
  border-bottom: 2px dashed #333;
}

.disabled,
.disabled:focus {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pending,
.pending:hover,
.pending:focus {
  background: transparent;
  height: 50px;
  min-width: 195px;
  outline: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  pointer-events: none;
  cursor: default;
}

.pendingIcon {
  height: 40px;
  width: 40px;
  animation: loading 3s linear infinite;
  margin: 0 auto;
}

.image {
  height: 50px;
}

.title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #333;
  margin: 0;
  text-transform: capitalize;
  margin-right: 12px;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.categoryBtn,
.categoryBtn:focus {
  display: block;
  background-color: #fff;
  width: 100%;
  border: none;
  cursor: pointer;
  height: 50px;
  padding: 6px 10px;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
}

.categoryIconWrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.categoryIcon {
  width: 40px;
  height: 40px;
  display: inline;
}

.categoryText,
.categoryBtn:focus {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  opacity: 0.8;
}

.categoryBtn:hover {
  background: #f7f7f7;
}

.categoryBtnActive {
  background: #f7f7f7;
}

.cartSideBtn {
  background: transparent;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.cartSideBtn:hover {
  background: #f7f7f7;
}

.cartSideBtnActive {
  background: #f7f7f7;
}

.cartSideIcon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.cartSideText {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #333;
  opacity: 0.8;
  letter-spacing: 1px;
}

.likebtn,
.likebtn:focus {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.likeImg {
  width: 30px;
  height: 30px;
}
