.productCategory {
  background-color: #fff;
  position: sticky;
  width: 78px;
  left: 0;
  top: 0;
  display: inline-block;
  z-index: 19;
  padding: 24px 0;
  overflow: hidden;
}

.productCategory:hover {
  width: 250px;
}
