.orders {
  max-width: 100%;
  height: calc(100vh - 250px);
  overflow: hidden;
}

.noOrders {
  width: 100%;
}

.noText,
.noTextLink {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
  color: #333;
  opacity: 0.8;
  margin: 14px 0;
  text-transform: initial;
}

.noTextLink {
  text-transform: uppercase;
  text-decoration: underline;
}

.ordersWrapper {
  height: calc(100vh - 260px);
  overflow-y: scroll;
  padding: 10px 10px 0 10px;
}

@media screen and (min-width: 461px) {
  .orders {
    height: calc(100vh - 205px);
  }

  .ordersWrapper {
    height: calc(100vh - 215px);
  }
}

@media screen and (min-width: 769px) {
  .orders {
    height: calc(100vh - 175px);
  }

  .ordersWrapper {
    height: calc(100vh - 185px);
  }
}
