.modalContentWrapper {
  position: fixed;
  overflow-x: hidden;
  border-radius: 16px 0 0 16px !important;
}

.modalContentWrapper::-webkit-scrollbar {
  width: 4px;
}

.modalContentWrapper::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
}

.modalContentWrapper::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 8px;
}

.modalCloseButton {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.modalContentWrappertop {
  border-radius: 16px;
  width: 848px;
  background-color: #f2eee9;
  margin: 0 auto;
}

.modalContentWrapperbottom {
  border-radius: 16px 16px 0 0 !important;
}

.modalContentWrapperleft,
.modalContentWrapperright {
  border-radius: 0;
  width: 50%;
}

.modalContentWrapperbottom {
  max-height: 90% !important;
  height: 100% !important;
}

.modalButtonWrapper {
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
  z-index: 100;
  min-height: 50px;
}

.modalContent {
  height: 100%;
  overflow-y: auto;
}

.modalBottomWrapper {
  position: sticky;
  padding: 24px;
  bottom: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 999px) {
  .modalContentWrapperleft,
  .modalContentWrapperright {
    width: 460px;
  }
}

@media (min-width: 991px) {
  .modalCloseButton {
    top: 40px;
  }

  .modalCloseButton {
    right: 40px;
  }
}

@media (max-width: 870px) {
  .modalContentWrappertop {
    width: 768px;
  }
}

@media (max-width: 790px) {
  .modalContentWrappertop {
    width: 736px;
  }
}
