.orderItem {
  border-radius: 3px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  padding: 14px;
  cursor: pointer;
}

.orderItem:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}

.orderItemDelivered {
  background-color: #4af0a5d0;
}

.overflowContainer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.overflowContainerOpened {
  display: block;
  max-height: calc(100vh - 300px);
}

.orderStatusWrapper {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 6px 0 0;
}

.orderStatusWrapperOpened {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

.orderStatus {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #333;
  opacity: 0.8;
  margin: 0;
  text-transform: initial;
  margin: 0;
  width: 130px;
}

.orderStatusOpened {
  margin: 0 0 10px 0;
  width: 200px;
  text-align: center;
}

.ordersItemsContainer {
  display: flex;
}

.ordersItemsContainerOpened {
  display: block;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: calc(100vh - 360px);
}

.orderItemLine {
  display: flex;
  align-items: center;
}

.orderItemLineOpened {
  margin: 0 0 10px 0;
}

.orderImgWrapper {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
}

.orderImg {
  object-fit: cover;
  height: 40px;
}

.orderStr {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #333;
  opacity: 0.8;
  margin: 0 6px 0 0;
  display: none;
}

.orderStrOpened {
  display: inline;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (min-width: 371px) {
  .orderStatusWrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6px 0 0;
  }

  .orderStatusWrapperOpened {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }

  .orderStatusOpened {
    margin: 0 10px 0 0;
    text-align: left;
  }

  .ordersItemsContainerOpened {
    max-height: calc(100vh - 360px);
  }
}

@media screen and (min-width: 461px) {
  .overflowContainerOpened {
    max-height: calc(100vh - 255px);
  }
  .ordersItemsContainerOpened {
    max-height: calc(100vh - 315px);
  }
}

@media screen and (min-width: 471px) {
  .orderStatusOpened {
    margin: 0 10px 0 74px;
  }
}

@media screen and (min-width: 769px) {
  .overflowContainerOpened {
    max-height: calc(100vh - 225px);
  }
  .ordersItemsContainerOpened {
    max-height: calc(100vh - 285px);
  }
}
