.productContainer {
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px 24px;
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  max-height: 280px;
}

.titleBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: flex-start;
}

.productTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #333;
  opacity: 0.8;
  margin: 0;
  text-transform: uppercase;
  width: 85%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.productPriceImg {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}

.productImg {
  width: 60px;
  height: auto;
  margin: 0 12px 0 0;
}

.productPrice,
.productCategory {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  color: rgb(43, 138, 124);
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.productCategory {
  color: #333;
}

.btnContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnsCentered {
  justify-content: center;
}

@media screen and (min-width: 491px) {
  .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 240px;
  }
}

@media screen and (min-width: 1114px) {
  .productContainer {
    width: 328px;
    margin: 0 12px 12px 0;
  }
}
