.productsContainer {
  height: calc(100vh - 290px);
  width: 100%;
}

.shadowContainer {
  height: calc(100vh - 290px);
  top: 245px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
