.wrapper {
  padding: 24px;
}

.inputsContainer {
  margin-bottom: 0;
}

.btnsContainer {
  margin-bottom: 24px;
}

.btnsContainer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .btnsContainer {
    text-align: left;
  }
}
