.loginBtnsContainer {
  width: 114px;
  min-width: 114px;
  border-radius: 44px;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 44px;
  background-color: #333;
  z-index: 21;
}

.loginIcon {
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 13px;
}

.loginBtnsWrapper,
.loginBtnsWrapperUnlogged {
  display: none;
  background-color: #fff;
}

.loginBtnsContainer:hover {
  border-bottom: none;
  background-color: #fff;
  width: 110px;
  min-width: 110px;
  border: 2px solid #333;
  height: 40px;
  border-radius: 25px 25px 0 0;
}

.loginBtnsContainer:hover .loginIcon {
  background-color: #c9c9c9;
}

.loginBtnsContainer:hover .loginBtnsWrapper,
.loginBtnsContainer:hover .loginBtnsWrapperUnlogged {
  display: block;
  width: 110px;
  min-width: 110px;
  border: 2px solid #333;
  border-top: none;
  border-radius: 0 0 25px 25px;
  position: absolute;
  left: -2px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 16px;
}

.loginBtnsContainer:hover .loginBtnsWrapper {
  bottom: -218px;
}

.loginBtnsContainer:hover .loginBtnsWrapperUnlogged {
  bottom: -168px;
}

.link,
.moblink {
  background: transparent;
  height: 48px;
  color: #333;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 2px solid #333;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  text-decoration: none;
  display: flex;
}

.link:hover,
.link:focus,
.moblink:hover,
.moblink:focus {
  border-bottom: 2px dashed #333;
}

@media screen and (min-width: 769px) {
  .moblink {
    display: none;
  }

  .loginBtnsContainer:hover .loginBtnsWrapper,
  .loginBtnsContainer:hover .loginBtnsWrapperUnlogged {
    bottom: -118px;
  }
}
