.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.cartItem:hover {
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.08);
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 14px;
  width: 50%;
}

.cartItemImgWrapper {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
}

.cartItemImg {
  object-fit: cover;
  height: 40px;
}

.delete {
  width: 25%;
}

.priceQuantity {
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityWrapper {
  display: flex;
  justify-content: flex-start;
}

.cartItemPrice,
.cartItemQuantity,
.cartItemTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.5px;
  color: rgb(43, 138, 124);
  margin: 0;
  text-transform: capitalize;
}

.cartItemPrice {
  margin-right: 14px;
}

.cartItemPrice span {
  font-weight: 500;
}

.cartItemQuantity,
.cartItemTitle {
  color: #333;
}

.cartItemQuantity {
  margin-right: 14px;
}

.cartItemTitle {
  max-width: 500px;
}
