.cartItem {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

.cartItem:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 14px;
  width: 100%;
  margin: 0 0 10px 0;
}

.cartItemImgWrapper {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
}

.cartItemImg {
  object-fit: cover;
  height: 40px;
}

.delete {
  width: 100%;
  display: flex;
  justify-content: center;
}

.priceQuantity {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.quantityWrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 10px 0 0;
}

.cartItemPrice,
.cartItemQuantity,
.cartItemTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.5px;
  color: rgb(43, 138, 124);
  margin: 0;
  text-transform: capitalize;
}

.cartItemPrice {
  text-align: center;
}

.cartItemPrice span {
  font-weight: 500;
}

.cartItemQuantity,
.cartItemTitle {
  color: #333;
}

.cartItemQuantity {
  margin-right: 10px;
}

.cartItemTitle {
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (min-width: 1051px) {
  .cartItem {
    flex-direction: row;
  }

  .itemTitle {
    justify-content: flex-start;
    width: 50%;
    margin: 0 10px 0 0;
  }

  .delete {
    width: 25%;
  }

  .priceQuantity {
    width: 25%;
    margin: 0 0 0 10px;
  }

  .quantityWrapper {
    margin-right: 0;
  }

  .cartItemPrice {
    text-align: left;
    margin: 0 0 0 10px;
  }
}
