.homeContainer {
  padding: 10px 24px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.headingWrapper {
  padding: 24px;
  margin: -10px -24px 0 -24px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

.heading {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.reviewsBlock {
  width: 100%;
  height: calc(100vh - 185px);
}

.reviewsBlock::-webkit-scrollbar {
  display: none;
}
