.homeContainer {
  padding: 10px 24px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.headingWrapper {
  padding: 24px;
  margin: -10px -24px 0 -24px;
}

.heading {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  text-transform: initial;
  color: #333;
  opacity: 0.8;
}

.reviewsBlock {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  box-shadow: 0px 28px 8px 0px rgba(255, 255, 255, 1) inset;
  height: calc(100vh - 142px);
}

.reviewsBlock::-webkit-scrollbar {
  display: none;
}
