.productsSidebar {
  background-color: #fff;
  min-width: 134px;
  width: 100%;
  max-width: 198px;
  box-shadow: 0 4px 17px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  display: inline-block;
  margin: 0 24px 0 0;
  padding: 24px 0;
  overflow: hidden;
}

.cartSidebar {
  width: 198px;
  display: inline-block;
  background: #fff;
  box-shadow: 0 4px 17px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  margin: 0 24px 0 0;
  padding: 24px 0;
  max-height: calc(100vh - 235px);
  justify-self: stretch;
}
