.contentBlock {
  box-shadow: 0 4px 17px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  padding: 24px;
  width: 100%;
  max-width: 968px;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 190px);
}

.sidebar {
  background-color: #fff;
  min-width: 134px;
  width: 100%;
  max-width: 198px;
  box-shadow: 0 4px 17px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  display: inline-block;
  margin: 0 24px 0 0;
  padding: 24px 0;
  height: calc(100vh - 190px);
  overflow: hidden;
}

.alertSuccess {
  padding: 0;
  margin: 0 !important;
  color: #333;
  font-size: 16px;
  font-family: Halyard, sans-serif;
}

.alertWrapper {
  padding-top: 64px;
  padding-left: 0;
  padding-right: 0;
  z-index: 10000 !important;
}

.alertWrapper > div {
  box-shadow: none !important;
  width: 100%;
  border-radius: 0;
}

@media screen and (min-width: 999px) {
  .alertWrapper {
    padding-top: 4.9em;
  }
}
